# 1. Creation de Tableaux

In [21]:
import numpy as np

In [22]:
tab_1D = np.array([2, 3, 5, 7])
print("Shape du tableau", tab_1D.shape)
print(tab_1D)

Shape du tableau (4,)
[2 3 5 7]

In [25]:
tab_2D = np.array([[2, 4, 6, 8, 10],
                   [20, 40, 60, 80, 10]])
print("Shape du tableau", tab_2D.shape)
print(tab_2D)

Shape du tableau (2, 5)
[[ 2  4  6  8 10]
 [20 40 60 80 10]]

In [26]:
tab_3D = np.array([[[10, 20, 30, 40],
                    [100, 200, 300, 400]]])
print("Shape du tableau", tab_3D.shape)
print(tab_3D)

Shape du tableau (1, 2, 4)
[[[ 10  20  30  40]
  [100 200 300 400]]]

## 2. Manipulation des donnees

In [27]:
import pandas as pd

In [37]:
etudiants_BAC = {
    'nom': ['OMALANGA', 'MWAMBA', 'KYANDA', 'NGONGO', 'LUKUMU', 'SIMBI', 'SIMBA'],
    'prenom': ['Daniel','Shekina','Nathalie', 'Jonathan','Jedidja', 'Jenny', 'Jack'],
    'Age': [25, 24, 22, 23, 26, 26, 23]}

In [38]:
data_BAC4_SI = pd.DataFrame(etudiants_BAC)
print(data_BAC4_SI.shape)
data_BAC4_SI

(7, 3)

        nom    prenom  Age
0  OMALANGA    Daniel   25
1    MWAMBA   Shekina   24
2    KYANDA  Nathalie   22
3    NGONGO  Jonathan   23
4    LUKUMU   Jedidja   26
5     SIMBI     Jenny   26
6     SIMBA      Jack   23

In [39]:
data_BAC4_SI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nom     7 non-null      object
 1   prenom  7 non-null      object
 2   Age     7 non-null      int64
dtypes: int64(1), object(2)
memory usage: 296.0+ bytes

In [40]:
data_BAC4_SI.isnull().sum()

nom       0
prenom    0
Age       0
dtype: int64